*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 50px auto;
    padding: 50px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.item{
    border-radius: 8px;
    padding: 25px;
}

.item:nth-of-type(1){
    background-color: hsl(263, 55%, 52%);
    color: #fff;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 90px top ;
    grid-column: 1 / span 2;
}

img{
    border-radius: 50px;
    border: 2px rgb(233, 135, 233) solid;
    width: 45px ;
}

.item:nth-of-type(2){
    background-color: hsl(217, 19%, 35%);
    color: #fff;
}

.item:nth-of-type(3){
    background-color: hsl(0, 0%, 100%);
    grid-column: 4;
    grid-row: 1 / 3;
}

.item:nth-of-type(4){
    background-color: hsl(0, 0%, 100%);
}

.item:nth-of-type(5){
    background-color: hsl(219, 29%, 14%);
    color: #fff;
    grid-column: 2 / span 2;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

section{
    margin-left: 20px;
}

section p{
    opacity: 50%;
}

.experience{
    font-weight: 600;
    font-size: 14px;
}

.quote{
    opacity: 70%;
    margin-top: 15px;
}

footer{
    margin-top: 10px;
}

@media(max-width:800px){
    .container{
        grid-template-columns: 1fr;
        width: 100%;
        gap: 10px;
    }

    .item{
        grid-column: 1;
    }

    .item:nth-of-type(1){
        grid-column: 1;
    }

    .item:nth-of-type(2){
        grid-column: 1;
        grid-row: 2;
    }

    .item:nth-of-type(3){
        grid-column: 1;
        grid-row: 3;
    }

    .item:nth-of-type(4){
        grid-column: 1;
        grid-row: 5;
    }
   
    .item:nth-of-type(5){
        grid-column: 1;
        grid-row: 4;
    }

    footer{
        text-align: center;
    }
}
